.box1{
    background-color: purple;
    width: 20%;
    margin-right: 5%;
    height: 800px;
    margin-top: 2%;
}

.box2{
    background-color: plum;
    width: 20%;
    margin-right: 5%;
    height: 800px;
    margin-top: 2%;
}

.box3{
    background-color: purple;
    width: 20%;
    margin-right: 5%;
    height: 800px;
    margin-top: 2%;
}

.box4{
    background-color: plum;
    width: 20%;
    margin-right: 5%;
    height: 800px;
    margin-top: 2%;
}


body{
    display: flex;
    justify-content: center;
}
